<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevan.buildingblock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExampleActivity" />
        <activity android:name=".ExampleFragmentActivity" />
        <activity android:name=".ServiceActivity" />

        <service android:name=".classes.MyService" />
        <service android:name=".classes.BindService" />

        <activity android:name=".SelectServiceActivity" />
        <activity
            android:name=".BindServiceActivity"
            android:label="@string/title_activity_bind_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BroadcastActivity" />

        <receiver android:name=".classes.MyReceiver">
            <intent-filter>
                <action android:name="com.example.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".classes.MyProvider"
            android:authorities="com.example.contentproviderexample.MyProvider"
            android:exported="true"
            android:multiprocess="true" >
        </provider>

        <activity android:name=".ContentSaverActivity" />
        <activity android:name=".ContentUserActivity"></activity>
    </application>

</manifest>